.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 50px;
  width: 50px;
}
.operators {
  display: flex;
  flex-direction: column;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
}
