* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-color: white;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.calcCont {
  border-style: solid;
}
.display {
  background-color: #3a2e1c;
  width: 280px;
  height: 95px;
  display: flex;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: end;
  padding-bottom: 10px;
  padding-right: 10px;
}
.btnCont {
  display: grid;
  height: 280px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 280px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.cell {
  box-sizing: border-box;
  font-size: 20px;
  transition:
    background-color 0.2s,
    transform 0.1s;

  display: flex;
  justify-content: center;
  align-items: center;
  border-style: double;
  border-width: thin;
  border-radius: 5%;
  color: white;
  background-color: gray;

  font-weight: 500;
  font-style: inherit;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightblue;
}
.cell:hover {
  background-color: #d5dfed;
}
.cell:active {
  transform: translateY(2px);
  box-shadow: none;
}

.calc:active {
  transform: translateY(2px);
  box-shadow: none;
}
