.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.calcCont {
  border-style: solid;
}
.calc {
  background-color: rgb(19, 208, 54);
  width: 280px;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 2px solid;
}
.btnCont {
  display: grid;
  height: 280px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 280px;
  box-sizing: border-box;
}
.cell {
  box-sizing: border-box;
}
